// Settings
$arrow-color: #2196fe;
$arrow-size: 10px;
$arrow-border: 1px;
$hover-color: #536dfe;

.link {
  position: relative;
  display: block;
  padding: 1em ($arrow-size * 3) 1em 1em;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  &:before {
    top: 50%;
    right: $arrow-size;
    width: $arrow-size;
    height: $arrow-size;
    transform-origin: 50% 50%;
    transform: translate(0, -($arrow-size / 2)) rotate(45deg);
    box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
    border-radius: 0 $arrow-size*0.15 0 0;
  }

  &:after {
    top: 50%;
    right: 1em;
    width: $arrow-size * 1.3;
    height: $arrow-border;
    transform: translate(0, -($arrow-border / 2));
    background-color: $arrow-color;
  }

  &:hover {
    &:before {
      box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $hover-color;
      transform: translate(0.5em, -($arrow-size / 2)) rotate(225deg);
    }

    &:after {
      background-color: $hover-color;
      transform: translate($arrow-size*2, -($arrow-border / 2));
    }
  }
}