{% extends 'layout.html.twig' %}
{% block title %}Диалог {{ name }}{% endblock %}
{% block stylesheets %}
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <link rel="stylesheet" href="/public/css/chatinput.css">
    <link rel="stylesheet" href="/public/css/mystyles.css">
{% endblock %}

{% block content %}
    <section class="msger">
        <main class="msger-chat">

        </main>

        <form class="chat-input-area">
            <input id="msger_input" type="text" placeholder="Write something..." class="chat-input-area__input">
            <button id="send_btn" type="submit" class="chat-input-area__submit-button"><i class="fa fa-paper-plane"
                                                                                          aria-hidden="true"></i>
            </button>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        const conn = new WebSocket("ws://localhost:8090"), button = $("#send_btn"), text = $("#msger_input"),
            chat = $(".msger-chat"),
            msg = {responseId:{{ responseId }}, role: "{{ role }}", id:{{ id }}};
        console.log(chat)
    </script>
    <script src="/public/js/index.js">
    </script>
{% endblock %}