{% extends 'Layout.html.twig' %}

{% block title %} Отклики {{ name }} {% endblock %}

{% block stylesheets %} {% endblock %}

{% block content %}
    {% for response in responses %}
        <div class="text-uppercase my-1 d-block font-weight-medium lts-2px text-center styled-link">
            <p>{{ response.position }} В {{ response.school }}</p>
            {% if response.is_accepted > 0 %}
                <a href="/vacancy_responses/{{ response.id }}/dialog">Перейти к диалогу</a>
            {% endif %}
        </div>


    {% endfor %}
{% endblock %}